<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>首页</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">管理系统</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img th:src="@{/image/logo.jpg}" class="layui-nav-img">
                    <span th:text="${session.user.username}"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="#">基本资料</a>
                    </dd>
                    <dd>
                        <a href="#">安全设置</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a th:href='@{/user/logout}'>退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed"  th:each="p:${session.permissionList}" th:if="${p.parentid==null}">
                    <a class="" href="javascript:;" th:text="${p.name}">一级菜单</a>
                    <dl class="layui-nav-child" th:each="p2:${session.permissionList}" th:if="${p2.parentid==p.id && p2.type==1}">
                        <dd>
                            <a th:href="'javascript:showTab(\''+${p2.url}+'\',\''+${p2.name}+'\','+${p2.id}+ ');'"
                               th:text="${p2.name}">二级菜单，可以点击的</a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="layui-tab" lay-filter="menu" lay-allowClose="true">
            <ul class="layui-tab-title">
                <li class="layui-this">欢迎页</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">欢迎使用本系统 [[${session.permissionList}]]</div>
            </div>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui - 底部固定区域
    </div>
</div>
<script th:src="@{/layui/layui.all.js}"></script>
<script th:src="@{/js/jquery-3.2.1.js}"></script>
<script type="text/javascript">
    /**
     * 打开选项卡，进入响应的模块主页
     * @param url
     * @param name
     * @param id
     */
    function showTab(url,name,id){
        let length=$("li[lay-id="+id+"]").length;
        let element=layui.element;
        if(length==0){
            let fullUrl=url;
            let height=$(window).height() -190 ;
            let content='<iframe style="width:100%;height:'+height+'px;" src="'+fullUrl+'" frameborder="0" scrolling="yes">'
            element.tabAdd('menu',{
                title: name,
                content: content,
                id: id
            })
        }
        element.tabChange("menu",id);
    }
</script>
</body>
</html>