<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body>
    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-md12" style="height: 200px">
            </div>
            <div class="layui-col-md6 layui-col-md-offset5">
                <h1>登录</h1>
            </div>
            <div class="layui-col-md12" style="height: 30px">
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6 layui-col-md-offset3">
<!--                <form class="layui-form"  method="post" th:action="@{/login}">-->
                <form class="layui-form"  method="post" th:action="@{/user/login}">
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户名</label>
                        <div class="layui-input-block">
                            <input type="text" value="admin" name="username" required lay-verify="required"
                                   placeholder="请输入用户名" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">密&nbsp;码</label>
                        <div class="layui-input-block">
                            <input type="password" value="123" name="password" required
                                   lay-verify="required" placeholder="请输入密码" autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <font color="red" th:text="${msg}"></font>
                    </div>
<!--                    <div class="layui-form-item" th:if="${not #strings.isEmpty(error)}">-->
<!--                        <font color="red" th:text="${error}"></font>-->
<!--                    </div>-->
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="formDemo">登录</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script th:src="@{/layui/layui.all.js}"></script>
</body>
</html>