<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjj.mapper.PermissionMapper">

    <select id="queryMenuPermissionByRoleId" resultType="com.yjj.entity.Permission">
        select distinct p.* from permission p,rolepermission rp
        where p.id=rp.permissionid and rp.roleid in
        <foreach collection="list" item="r" open="(" close=")" separator=",">
            #{r.id}
        </foreach>
        and p.type in(0,1) and p.`status`=1
        order by p.parentid asc,p.ordernum asc
    </select>

    <select id="queryOperationPermissionByRoleId" resultType="com.yjj.entity.Permission">
        select distinct p.* from permission p,rolepermission rp
        where p.id=rp.permissionid and rp.roleid in
        <foreach collection="list" item="r" open="(" close=")" separator=",">
            #{r.id}
        </foreach>
        and p.type=2 and p.`status`=1
    </select>

    <select id="queryOwenPermissionByRoleId" parameterType="int" resultType="com.yjj.entity.Permission">
        select distinct p.* from permission p,rolepermission rp
        where p.id=rp.permissionid and rp.roleid = #{rid}
        order by p.parentid asc,p.ordernum asc
    </select>

    <delete id="deletePermissionByRoleId" parameterType="int">
        delete from rolepermission where roleid=#{rid}
    </delete>

    <!--
    map:
    rid=2
    perArr:[1,2,3,4]
    -->
    <insert id="batchInsertPermission" parameterType="map">
        insert into rolepermission values
        <foreach collection="perArr" item="pid" separator=",">
            (null,#{rid},#{pid})
        </foreach>
    </insert>

    <select id="list" resultType="com.yjj.entity.Permission">
        select *
        from permission
    </select>

    <select id="listPage" resultType="com.yjj.entity.Permission">
        select *
        from permission
        limit #{page} , #{limit}
    </select>

    <delete id="delete">
        delete from permission where id=#{id}
    </delete>
    <delete id="deleteParentid">
        delete from permission where parentid=#{parentid}
    </delete>
    <select id="selectByParentid" resultType="com.yjj.entity.Permission">
        select * from permission where parentid=#{parentid}
    </select>

    <select id="selectByType" resultType="com.yjj.entity.Permission">
        select * from permission where type=#{type}
    </select>

    <select id="selectById" resultType="com.yjj.entity.Permission">
        select * from permission where id=#{id}
    </select>

    <insert id="insert">
        insert into permission
        (
        <if test="name != null">name,</if>
        <if test="description != null">description</if>
        <if test="url != null">,url</if>
        <if test="perms != null">,perms</if>
        <if test="parentid != null">,parentid</if>
        <if test="type != null">,type</if>
        <if test="status != null">,status</if>
        ,createtime,updatetime
        )
        values
        (
        <if test="name != null">#{name},</if>
        <if test="description != null">#{description}</if>
        <if test="url != null">,#{url}</if>
        <if test="perms != null">,#{perms}</if>
        <if test="parentid != null">,#{parentid}</if>
        <if test="type != null">,#{type}</if>
        <if test="status != null">,#{status}</if>
        ,now()
        ,now()
        )
    </insert>

    <update id="update">
        update permission
        <set>
            <if test="name != null">name=#{name},</if>
            <if test="description != null">description=#{description},</if>
            <if test="url != null">url=#{url},</if>
            <if test="perms != null">perms=#{perms},</if>
            <if test="parentid != null">parentid=#{parentid},</if>
            <if test="type != null">type=#{type},</if>
            <if test="status != null">status=#{status},</if>
        </set>
        where id=#{id}
    </update>
</mapper>
